[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Priyanka
	owner = group user/priyanka02031991
[access "refs/for/refs/*"]
	read = group user/priyanka02031991
	push = group user/priyanka02031991
	label-Code-Review = -2..+2 group user/priyanka02031991
	label-Verified = -1..+1 group user/priyanka02031991
	rebase = group user/priyanka02031991
	removeReviewer = group user/priyanka02031991
	submit = group user/priyanka02031991
[access "refs/heads/*"]
	read = group user/priyanka02031991
	create = group user/priyanka02031991
	push = +force group user/priyanka02031991
	pushMerge = group user/priyanka02031991
[access "refs/tags/*"]
	push = +force group user/priyanka02031991
	pushTag = group user/priyanka02031991
	pushSignedTag = group user/priyanka02031991
